@use "../../../../scss/varieable" as *;

.content-wrapper {
    width: 100%;
    justify-content: space-between;
}

.header-logo-content{
   
    display: flex;
    align-items: center;
    width: 100%;

    .logo{
        padding: 15px;
        display: block;
         cursor: pointer;
    }

    .logo--dark {
        display: none;
    }
}

:host-context(body.survey-page) {
    .header-logo-content {
        .logo--light {
            display: none;
        }

        .logo--dark {
            display: block;
        }
    }
}