@use "../../../../scss/varieable" as *;

.content-wrapper {
    width: 100%;
    justify-content: space-between;
}

.header-logo-content{
    cursor: pointer;
    display: flex;
    align-items: center;

    .logo{
        padding: 15px;
        display: block;
    }

    .logo--dark {
        display: none;
    }
}

.header-create-btn {
    text-decoration: none;
    color: $fonts-color-primary;
    border: 0;
    margin-right: 12px;
}

:host-context(body.survey-page) {
    .header-logo-content {
        .logo--light {
            display: none;
        }

        .logo--dark {
            display: block;
        }
    }
}