@use "../../../../scss/varieable" as *;
@use "../../../../scss/mixin.scss" as *;

h1{
    text-align: center;
    width: 100%;
    margin: 10px 0 0px 0;

    @include respond-to('small') {
        text-align: left;
    }
    
}

.subheadline{
    font-size: 32px;
    font-weight: 500;
    font-style: normal;

    @include respond-to('small') {
        font-size: 20px;
  }
}

.--colomn-container{
    display: flex;
    flex-direction: column;
}

app-surveys-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;

    @include respond-to('small') {
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
  }
}

