<section class="content-wrapper padding-content">
    <div class="content-left">
        <h1>Collect Feedback, Unlock Ideas</h1>
    </div>

    <div class="content-reight">
        <div class="img-wrapper">
            <img src="./assets/icon/handy-check.png" alt="">
        </div>
    </div>

    <div class="content-copy">
        <p class="subheadline-text">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and
            turn feedback into action.</p>
        <button class="--primary-btn" routerLink="/umfrage-erstellen">New survey</button>
    </div>
</section>
<app-surveys-section></app-surveys-section>
<dialog class="create-survey-dialog" [open]="isCreateDialogOpen" (cancel)="onDialogCancel($event)">
    <button class="dialog-close-btn --dialog-close-btn-normel" type="button" (click)="closeCreateDialog()" aria-label="Dialog schliessen">x</button>
    <app-survey-form [isDialogMode]="true" (closed)="closeCreateDialog()" (saved)="closeCreateDialog()"></app-survey-form>
</dialog>

