<section class="content-wrapper">

    <!-- // Todo einzel Komponente -->
    <div class="content-left">
        <h1>Collect Feedback, Unlock Ideas</h1>
        <p class="subheadline">Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and
            turn feedback into action.</p>
            <button class="--primary-btn" routerLink="/umfrage-erstellen">New survey</button>
    </div>

    <div class="content-reight">
        <img src="./icon/handy-check.png" alt="">
    </div>

</section>
<app-surveys-section></app-surveys-section>
