
@use "../../../../scss/varieable" as *;



h1{
    font-family: $fontFamily_Nerko;
    line-break: loose;
    font-size: 100px;
    color: $primary-orange;
}

.subheadline{
    font-family: $fontFamily_Mulish;
    font-size: 24px;
    font-weight: 600;
    color: $bg-card;
}

