@use "./scss/varieable" as *;

body{
    margin: 0;
    background-color: $primary-bg;
}

body.survey-page {
    background-color: #fff;
}

h1{
    font-family: $fontFamily_Nerko;
    line-break: loose;
    font-size: 100px;
    color: $primary-orange;
}
