@font-face {
   font-family: 'Nerko One';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Nokora';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/Nokora-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Nokora';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url('../assets/fonts/Nokora-Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 200;
   font-display: swap;
   src: url('../assets/fonts/Mulish-ExtraLight.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 200;
   font-display: swap;
   src: url('../assets/fonts/Mulish-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: url('../assets/fonts/Mulish-Light.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 300;
   font-display: swap;
   src: url('../assets/fonts/Mulish-LightItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/Mulish-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 400;
   font-display: swap;
   src: url('../assets/fonts/Mulish-Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 600;
   font-display: swap;
   src: url('../assets/fonts/Mulish-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url('../assets/fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 700;
   font-display: swap;
   src: url('../assets/fonts/Mulish-BoldItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 800;
   font-display: swap;
   src: url('../assets/fonts/Mulish-ExtraBold.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 800;
   font-display: swap;
   src: url('../assets/fonts/Mulish-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 900;
   font-display: swap;
   src: url('../assets/fonts/Mulish-Black.ttf') format('truetype');
}

@font-face {
   font-family: 'Mulish';
   font-style: italic;
   font-weight: 900;
   font-display: swap;
   src: url('../assets/fonts/Mulish-BlackItalic.ttf') format('truetype');
}
