@font-face {
   font-family:'NerkoOne-Regular';
   font-style: normal;
   font-weight: 400;
   src: local('NerkoOne-Regular'), local('NerkoOne-Regular.ttf'),
   url(/fonts/NerkoOne-Regular.ttf) format('truetype'),
}


@font-face {
   font-family:'Mulish-Black';
   font-style: normal;
   font-weight: 400;
   src: local('Mulish-Black'), local('Mulish-Black.ttf'),
   url(/fonts/Mulish-Black.ttf) format('truetype'),
}


@font-face {
   font-family:'Nokora-Bold.ttf';
   font-style: normal;
   font-weight: 400;
   src: local('Nokora-Bold.ttf'), local('Nokora-Bold.ttf'),
   url(/fonts/Nokora-Bold.ttf) format('truetype'),
}
