
@use 'fonts.scss';
$primary-bg: rgb(53, 39, 58);
$primary-orange: rgb(255, 183, 112);
$secendary-orange: rgb(255, 207, 161);
$bg-card: rgb(250, 245, 254);
$content-limit: 1440px;

$fontFamily_Nerko: 'Nerko One', cursive;
$fontFamily_Mulish: 'Mulish', sans-serif;
$fontFamily_Nokora-Bold: 'Nokora', sans-serif;
$fonts-color-primary: rgba(53, 39, 58, 1);



.--primary-btn{
    padding: 12px 16px;
    background-color: $secendary-orange;
    border-radius: 8px;
    font-family: $fontFamily_Nokora-Bold;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    
    &:hover{
        padding: 12px 25px;
    }
}

.--text-left{
    text-align: left;
    width: 100%;
}

.subheadline{
    font-family: $fontFamily_Mulish;
    font-size: 24px;
    font-weight: 600;
    color: $bg-card;
}

.content-wrapper{
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: $content-limit;
}