
@use 'fonts.scss';
@use './mixin.scss' as *;

$primary-bg: rgb(53, 39, 58);
$primary-orange: rgb(255, 183, 112);
$secendary-orange: rgb(255, 207, 161);
$current-focus-color: rgb(254, 233, 212);
$bg-card: rgb(250, 245, 254);
$content-limit: 1440px;

$fontFamily_Nerko: 'Nerko One', cursive;
$fontFamily_Mulish: 'Mulish', sans-serif;
$fontFamily_Nokora-Bold: 'Nokora', sans-serif;
$fonts-color-primary: rgba(53, 39, 58, 1);


.--text-left{
    text-align: left;
    width: 100%;
}

.subheadline-text{
    font-family: $fontFamily_Mulish;
    font-size: 24px;
    font-weight: 600;
    color: $bg-card;

    @include respond-to('small') {
      font-size: 20px;
    }
}

.subheadline{
    font-family: $fontFamily_Mulish;
    font-size: 32px;
    font-weight: 600;
    color: $bg-card;
     @include respond-to('small') {
        font-size: 24px;
  }
}

.content-wrapper{
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: $content-limit;
    padding: 0 15px;
    @include respond-to('small') {
        flex-direction: column;
  }
}


